trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1. Maven build
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'package'

# 2. Docker build (no push)
- task: Docker@2
  inputs:
    command: build
    Dockerfile: Dockerfile
    tags: |
      mavenhelloworld:$(Build.BuildId)

